.set-body-height{
  min-height: 100vh;
}
.btn-action{
  color: #193451;
}
.btn-primary:hover, .btn-primary:focus{
  background-color: #335075;
  color: white;
}
.btn-primary, .page-item.active .page-link {
  background-color: #193451;
  border-color: #193451;
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
  padding-right: 15px;
}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
  padding-left: 15px;
}
.react-datepicker__input-container input:focus{
    color: #495057;
    background-color: #fff;
    outline: 0;
    border: 1px solid #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-wrapper{
  background-color: #f3f4f5;
  border-radius: 1rem;
  padding: 25px 60px;
}
.manual-form-control{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.manual-form-control.is-invalid{
  border-color: #dc3545;
}
.manual-form-control.is-invalid:focus{
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}
.btn-custom-secondary{
  background-color: #335075;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}
.card{
  border-radius: 1rem;
  background-color: #f3f4f5;
  border: 2px solid #193451;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(25, 52, 81, 1);
  
}
@media only screen and (max-width: 450px) {
  .form-wrapper {
    padding: 10px 25px 20px 25px;
  }
}
